<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.devops.dao.EditionVersionDao" >
  <resultMap id="BaseResultMap" type="cn.com.devops.entity.EditionVersion" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="editionId" property="editionId" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="saveDate" property="saveDate" jdbcType="VARCHAR" />
    <result column="saveTime" property="saveTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, editionId, version, status, remark, saveDate, saveTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from editionversion
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="query" resultMap="BaseResultMap" parameterType="cn.com.devops.entity.EditionVersion">
    select 
    <include refid="Base_Column_List" />
    from editionversion 
    <trim prefix="where" prefixOverrides="and">
   	  <if test="editionId != null and editionId != ''" >
        editionId = #{editionId,jdbcType=INTEGER}
      </if>
        and status = "1"
   	</trim>
   	order by version desc
  </select>
  <select id="queryByVersionId" resultMap="BaseResultMap" parameterType="cn.com.devops.entity.EditionVersion">
    select 
    <include refid="Base_Column_List" />
    from editionversion 
    where editionId = #{editionId,jdbcType=VARCHAR} and version =  #{version,jdbcType=VARCHAR} and status = "1"
  </select>
  <delete id="delete" parameterType="java.lang.Integer" >
    delete from editionversion
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.devops.entity.EditionVersion" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into editionversion (editionId, version, status, 
      remark, saveDate, saveTime
      )
    values (#{editionId,jdbcType=INTEGER}, #{version,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{remark,jdbcType=VARCHAR}, #{saveDate,jdbcType=VARCHAR}, #{saveTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.devops.entity.EditionVersion" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into editionversion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="editionId != null" >
        editionId,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="saveDate != null" >
        saveDate,
      </if>
      <if test="saveTime != null" >
        saveTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="editionId != null" >
        #{editionId,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="saveDate != null" >
        #{saveDate,jdbcType=VARCHAR},
      </if>
      <if test="saveTime != null" >
        #{saveTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="cn.com.devops.entity.EditionVersion" >
    update editionversion
    <set >
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="saveDate != null" >
        saveDate = #{saveDate,jdbcType=VARCHAR},
      </if>
      <if test="saveTime != null" >
        saveTime = #{saveTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.devops.entity.EditionVersion" >
    update editionversion
    set editionId = #{editionId,jdbcType=INTEGER},
      version = #{version,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      saveDate = #{saveDate,jdbcType=VARCHAR},
      saveTime = #{saveTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>